@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Noto+Sans+Armenian&family=Open+Sans&display=swap');

html, body {
    box-sizing: border-box;
}

.logo > img {
    width: 120px;
    height: auto;
}

.logo {
    margin: 40px;
    margin-left: auto;
}

.main-side {
    margin-left: 275px;
    margin-top: 40px;
}

.list-item {
    margin-bottom: 30px;
}

.list-item > svg {
    margin-right: 16px;
}

.list-item:hover {
    background-color: rgb(219, 219, 219);
}

.left-side {
    padding-left: 25px;
    position: fixed;
}

.bottom {
    position: fixed;
    bottom: 20px;
    left: 25px;
}

.cicle-img { 
    border-radius: 50%; 
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.right-side {
    margin: 40px;
    margin-left: 0px;
}

.profile-item {
    margin-bottom: 15px;
}

.profile-item:nth-of-type(1) {
    margin-bottom: 20px;
}

.story-img {
    width: 56px;
    height:56px;
}

.post-container {
    padding-left: 100px;
    padding-right:s 100px;
}

.post {
    width: 460px;
    height: 580px;
}
